#home {
    margin-top: 15%;
    padding-right: 80px;
    padding-left: 80px;
    background-color: #FBF8CC;
    color: #03045E;
    font-family: 'Poppins', sans-serif;
}

#home p { 
    font-size: 20px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    
}

#btn-resumo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid #03045E;
    background-color: #F5EE84;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    color: #03045E;
}

#home button:active {
    position: relative;
    top: 2px;
    box-shadow: none; /* Removendo a sombra quando clicado */
}

#titulo-modal {
    font-size: 30px;
    font-weight: bold;
    color: #03045E;
}

#modal-body {
    text-align: justify;
    color: #03045E;
    font-size: 17px;
}



#btn-modal {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid #03045E;
    background-color: #F5EE84;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    color: #03045E;
}