#home {
    margin-top: 15%;
    padding-right: 80px;
    padding-left: 80px;
    background-color: #F2F2F2;
    color: #0D0D0D;
    font-family: 'Poppins', sans-serif;
}

#home p { 
    font-size: 25px;
}

h1 {
    font-size: 80px!important;
    font-weight: bold!important;
    padding-right: 400px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#btn-resumo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid #0D0D0D;
    background-color: #F2F2F2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    color: #0D0D0D;
}

#btn-resumo:hover {
    background-color: #0D0D0D;
    color: #F2F2F2;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    transition: 1s;
}

#home button:active {
    position: relative;
    top: 2px;
    box-shadow: none; /* Removendo a sombra quando clicado */
}

#titulo-modal {
    font-size: 30px;
    font-weight: bold;
    color: #0D0D0D!important;
}

#modal-body {
    text-align: justify;
    color: #0D0D0D;
    font-size: 17px;
}



#btn-modal {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid #0D0D0D;
    background-color: #F2F2F2;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    color: #0D0D0D;
}

#div-forma {
    display: flex;
}



h3 {
    padding-top: 300px;
    color: #0D0D0D!important;
    font-size: 60px!important;
    font-weight: bold!important;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#paragrafo1-sobre {
    width: 100%;
    text-align: justify;
    font-size: 1.3rem!important;
    margin-top: 30px;
}

#img-perfil {
    border-radius: 50%;
    border: 3px solid #0D0D0D;
}



#section-sobre {
    padding-right: 80px;
    padding-left: 80px;
    background-color: #F2F2F2;
    color: #0D0D0D;
    font-family: 'Poppins', sans-serif;
}

#div-svg {
    background-color: #F2F2F2;
}


#skills {
    padding-right: 80px;
    padding-left: 80px;
    background-color: #F2F2F2;
    color: #0D0D0D;
    font-family: 'Poppins', sans-serif;
}